<!doctype html>
<html lang="en" data-ng-app="SensationApp">
<head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <title>AdminPro Web Application</title>
    <meta name="description" content="Responsive Admin Web App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,600,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{$Think.config.web_root}/styles/font-awesome.css">
    <link rel="stylesheet" href="{$Think.config.web_root}/styles/weather-icons.css">
    <link rel="stylesheet" href="{$Think.config.web_root}/styles/main.css"/>
    <link rel="stylesheet" href="{$Think.config.web_root}/styles/waves.css">
    <script src="{$Think.config.web_root}/scripts/ui.js"></script>
    <script src="{$Think.config.web_root}/scripts/app.js"></script>
    <script src="{$Think.config.web_root}/scripts/jquery.cookie.js"></script>
    <script src="{$Think.config.web_root}/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="{$Think.config.web_root}/scripts/front.js"></script>
    <script src="{$Think.config.web_root}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .invalid-feedback {
            display: none;
            width: 100%;
            margin-top: .25rem;
            font-size: 80%;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div id="app" class="app">
    <header id="header" class="header-container header-fixed bg-dark">
        {include file="public/header" /}
    </header>
    <div class="main-container">
        <aside id="nav-container" class="nav-container bg-white header-fixed">
            {include file="public/nav" /}
        </aside>
        <div id="content" class="content-container animate-fade-up">
            <div id="settings" style="display:none">
                {include file="public/settings" /}
            </div>