{include file="public/_header" /}
<div class="pageheader">
    <h3><i class="fa fa-user"></i> 用户列表 </h3>
    <div class="breadcrumb-wrapper hidden-xs"> <span class="label">当前位置:</span>
        <ol class="breadcrumb">
            <li> <a href="index.html"> 主页 </a> </li>
            <li class="active"> 用户列表 </li>
        </ol>
    </div>
</div>
<div class="page">
    <div class="panel panel-default">
        <h4 class="nm pad-15"> <a href="{:url('rule/user_add')}" class="waves-effect waves-button waves-float waves-success"><i class="fa fa-plus"></i>&nbsp;
            添加用户 </a></h4>
        <div class="panel-body">
            <div class="table-flip-scroll">
                <table class="table table-bordered table-striped cf">
                    <thead class="cf">
                    <tr>
                        <th>用户名</th>
                        <th>角色</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $users as $user}
                    <tr>
                        <td>{$user['username']}</td>
                        <td>{$user['groups']}</td>
                        <td><span class="btn btn-xs waves-effect waves-button waves-float {$user['status_css']}">{$user['status_str']}</span></td>
                        <td><a class="editable-click" href="{:url('rule/user_edit',array('id' => $user['id']))}">修改权限或密码</a></td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div>{$page}</div>
        </div>
    </div>
</div>
{include file="public/_footer" /}