{include file="public/_header" /}
<div class="pageheader">
  <h3><i class="fa fa-check-square"></i> 添加用户 </h3>
  <div class="breadcrumb-wrapper hidden-xs"> <span class="label">当前位置:</span>
    <ol class="breadcrumb">
      <li> <a href="index.html"> 首页 </a> </li>
      <li class="active"> 添加用户 </li>
    </ol>
  </div>
</div>
<div class="page">
      <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-horizontal" method="post" action="">
              <div class="form-group">
                <label class="col-sm-2">用户名</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="username" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">密码</label>
                <div class="col-sm-10">
                  <input type="password" value="" name="password" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">角色</label>
                <div class="col-sm-10">
                  {foreach $groups as $g}
                  <label class="ui-checkbox">
                    <input name="groups[]" type="checkbox" value="{$g['id']}" >
                    <span>{$g['title']}</span></label>
                  {/foreach}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">状态</label>
                <div class="col-sm-10">
                  <label class="ui-radio">
                    <input name="status" type="radio" value="1" >
                    <span>正常</span></label>
                  <label class="ui-radio">
                    <input name="radio1" type="radio" value="0">
                    <span>禁用</span></label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">联系方式</label>
                <div class="col-sm-10">
                  <input type="text" name="mobile" value="" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">邮箱</label>
                <div class="col-sm-10">
                  <input type="text" name="email" value="" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2">操作员姓名</label>
                <div class="col-sm-10">
                  <input type="text" name="nickname" value="" class="form-control">
                </div>
              </div>
              <div class="form-group  pull-right">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-info">提交</button>
                </div>

              </div>
            </form>
          </div>
      </div>
 </div>
{include file="public/_footer" /}