{include file="public/_header" /}
<div class="pageheader">
    <h3><i class="fa fa-file"></i> 编辑文章分类 </h3>
    <div class="breadcrumb-wrapper hidden-xs"> <span class="label">当前位置:</span>
        <ol class="breadcrumb">
            <li> <a href="{:url('index/index')}"> 主页 </a> </li>
            <li class="active"> 编辑文章分类 </li>
        </ol>
    </div>
</div>
<div class="page">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="" name="form" class="form-validate" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label>名称</label>
                        <input class="form-control" value="{$item['title']}" type="text" name="title" required data-msg="请填写名称">
                    </div>
                    <div class="form-group">
                        <label>排序</label>
                        <input class="form-control" value="{$item['displayorder']}" type="text" value="0" name="displayorder">
                    </div>
                    <div class="form-group">
                        <label>是否显示</label>
                        <label></label>
                        <label class="ui-radio">
                            <input name="status" type="radio" value="1" {if $item['status']==1}checked{/if}>
                            <span>是</span>
                        </label>
                        <label class="ui-radio">
                            <input name="status" type="radio" value="0" {if $item['status']==0}checked{/if}>
                            <span>否</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="">分类图片</label>
                        <div class="input-group ">
                            <input type="text" id="thumb" name="a" value="{$item['thumb']}" class="form-control" autocomplete="off">
                            <span class="input-group-btn">
                                <input type="file" accept="image/gif, image/jpeg, image/png" onchange="getFileToPicture(event)" name="thumb" title="选择图片" data-ui-file-upload>
                            </span>
                        </div>
                        <div class="input-group " style="margin-top:.5em;">
                            <img src="{$item['thumb']}" id="picvalue" class="img-responsive img-thumbnail" width="150">
                        </div>
                        <input type="hidden" name="pid" id="pid" value="{$item['pid']}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function getFileToPicture(event) {
        let file = event.target.files[0];
        let freader = new FileReader();
        freader.readAsDataURL(file);
        freader.onload = (e) => {
            console.log(e);
            console.log(freader);
            $("#picvalue").attr('src',freader.result);
            $("#thumb").val("{$Think.config.web_root}"+'/uploads/'+file.name);
        }
    }
</script>
{include file="public/_footer" /}