{include file="public/_header" /}
<div class="pageheader">
    <h3><i class="fa fa-home"></i> 分类 </h3>
    <div class="breadcrumb-wrapper hidden-xs"> <span class="label">当前位置:</span>
        <ol class="breadcrumb">
            <li> <a href="{:url('index/index')}"> 主页 </a> </li>
            <li class="active"> 文章分类 </li>
        </ol>
    </div>
</div>
<div class="page">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <h4 class="nm pad-15"> <button type="button" data-toggle="modal" data-target="#addrule" class="waves-effect waves-button waves-float waves-success add"><i class="fa fa-plus"></i>&nbsp;
                    添加分类 </button></h4>
                <div class="panel-body">
                    <div class="modal fade" id="addrule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" action="{:url('article/category_add')}" name="form" class="form-validate" enctype="multipart/form-data">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">添加分类</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>名称</label>
                                            <input class="form-control" type="text" name="title" required data-msg="请填写名称">
                                        </div>
                                        <div class="form-group">
                                            <label>排序</label>
                                            <input class="form-control" type="text" name="displayorder">
                                        </div>
                                        <div class="form-group">
                                            <label>是否显示</label>
                                                <label class="ui-radio">
                                                    <input name="status" type="radio" value="1">
                                                    <span>是</span>
                                                </label>
                                                <label class="ui-radio">
                                                    <input name="status" type="radio" value="0">
                                                    <span>否</span>
                                                </label>
                                        </div>
                                        <div class="form-group">
                                            <label>分类图片</label>
                                            <input class="form-control" name="thumb" type="file" title="选择文件" data-ui-file-upload>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <span type="button" class="btn btn-default" data-dismiss="modal">关闭</span>
                                        <button type="submit" class="btn btn-primary btn-submit">提交</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <div>
                        <ol class="ng-pristine ng-untouched ng-valid ng-scope angular-ui-tree-nodes">
                            {foreach $datas as $item}
                            <li class="ng-scope angular-ui-tree-node">
                                <div class="angular-ui-tree-handle ng-binding ng-scope">
                                    {if !empty($item['items'])}
                                    <span>
                                        <a class="angular-ui-tree-icon">
                                            <span class="angular-ui-tree-icon-collapse uncollapsed parent" data-show="1" data-id="{$item['id']}"></span>
                                        </a>
                                    </span>
                                    {/if}
                                    {$item.title}
                                    <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action"><span class="fa fa-times"></span></a>
                                    <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action"><span class="fa fa-plus"></span></a>
                                </div>
                                {if !empty($item['items'])}
                                <ol class="ng-pristine ng-untouched ng-valid ng-scope angular-ui-tree-nodes" id="{$item['id']}">
                                    {foreach $item['items'] as $o}
                                    <li class="ng-scope angular-ui-tree-node">
                                        <div class="angular-ui-tree-handle ng-binding ng-scope">
                                            {if !empty($o['items'])}
                                            <span>
                                                <a class="angular-ui-tree-icon">
                                                    <span class="angular-ui-tree-icon-collapse uncollapsed parent" data-show="1" data-id="{$o['id']}"></span>
                                                </a>
                                            </span>
                                            {/if}
                                            {$o.title}
                                            <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action"><span class="fa fa-times"></span></a>
                                            <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action"><span class="fa fa-plus"></span></a>
                                        </div>
                                        {if !empty($o['items'])}
                                        <ol class="ng-pristine ng-untouched ng-valid ng-scope angular-ui-tree-nodes" id="{$o['id']}">
                                            {foreach $o['items'] as $oo}
                                            <li class="ng-scope angular-ui-tree-node">
                                                <div class="angular-ui-tree-handle ng-binding ng-scope">
                                            <span class="ng-hide">
                                                <a class="angular-ui-tree-icon">
                                                    <span class="angular-ui-tree-icon-collapse uncollapsed"></span>
                                                </a>
                                            </span>
                                                    {$oo.title}
                                                    <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action"><span class="fa fa-times"></span></a>
                                                    <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action"><span class="fa fa-plus"></span></a>
                                                </div>
                                            </li>
                                            {/foreach}
                                        </ol>
                                        {/if}
                                    </li>
                                    {/foreach}
                                </ol>
                                {/if}
                            </li>
                            {/foreach}
                        </ol>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".parent").on('click',function () {
            var id = $(this).data('id');
            var show = $(this).data('show');
            if (show == 1) {
                $("#" + id).hide();
                $(this).removeClass('uncollapsed');
                $(this).addClass('collapsed');
                $(this).data('show',0);
            } else {
                $("#" + id).show();
                $(this).removeClass('collapsed');
                $(this).addClass('uncollapsed');
                $(this).data('show',1);
            }
        });
    })
</script>
{include file="public/_footer" /}