{include file="public/_header" /}
<div class="pageheader">
    <h3><i class="fa fa-file"></i> 添加文章分类 </h3>
    <div class="breadcrumb-wrapper hidden-xs"> <span class="label">当前位置:</span>
        <ol class="breadcrumb">
            <li> <a href="{:url('index/index')}"> 主页 </a> </li>
            <li class="active"> 添加文章分类 </li>
        </ol>
    </div>
</div>
<div class="page">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="{:url('article/category_add')}" name="form" class="form-validate form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2">名称</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="title" required data-msg="请填写名称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">排序</label>
                    <div class="col-sm-10"><input class="form-control" type="text" value="0" name="displayorder"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">是否显示</label>
                    <div class="col-sm-10">
                        <label class="ui-radio">
                            <input name="status" type="radio" value="1" checked>
                            <span>是</span>
                        </label>
                        <label class="ui-radio">
                            <input name="status" type="radio" value="0">
                            <span>否</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">分类图片</label>
                    <div class="col-sm-10">
                        <div class="input-group ">
                            <input type="text" id="thumb" name="a" value="" class="form-control" autocomplete="off">
                            <span class="input-group-btn">
                                <input type="file" accept="image/gif, image/jpeg, image/png" onchange="getFileToPicture(event)" name="thumb" title="选择图片" data-ui-file-upload>
                            </span>
                        </div>
                        <div class="input-group " style="margin-top:.5em;">
                            <div id="picvalue">

                            </div>
                        </div>
                        <input type="hidden" name="pid" id="pid" value="{$parent_id}">
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-button waves-float waves-lightblue">提交</button>
            </form>
        </div>
    </div>
</div>
<script>
    function getFileToPicture(event) {
        let file = event.target.files[0];
        let freader = new FileReader();
        freader.readAsDataURL(file);
        freader.onload = (e) => {
            let html = '<img src="' + freader.result + '" class="img-responsive img-thumbnail" width="150">';
            $("#picvalue").html(html);
            $("#thumb").val("{$Think.config.web_root}"+'/uploads/'+file.name);
        }
    }
</script>
{include file="public/_footer" /}