{include file="public/_header" /}
<div class="pageheader">
    <h3><i class="fa fa-home"></i> 分类 </h3>
    <div class="breadcrumb-wrapper hidden-xs"> <span class="label">当前位置:</span>
        <ol class="breadcrumb">
            <li> <a href="{:url('index/index')}"> 主页 </a> </li>
            <li class="active"> 文章分类 </li>
        </ol>
    </div>
</div>
<div class="page">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <h4 class="nm pad-15"> <a href="{:url('article/category_add',array('parent_id' => 0))}" type="button" data-parent="0" class="waves-effect waves-button waves-float waves-success add"><i class="fa fa-plus"></i>&nbsp;
                    添加分类 </a></h4>
                <div class="panel-body">
                    <div>
                        <ol class="ng-pristine ng-untouched ng-valid ng-scope angular-ui-tree-nodes">
                            {foreach $list as $item}
                            <li class="ng-scope angular-ui-tree-node">
                                <div class="angular-ui-tree-handle ng-binding ng-scope">
                                    {if !empty($item['items'])}
                                    <span>
                                        <a class="angular-ui-tree-icon">
                                            <span class="angular-ui-tree-icon-collapse uncollapsed parent" data-show="1" data-id="{$item['id']}"></span>
                                        </a>
                                    </span>
                                    {/if}
                                    <img width="50" class="img-responsive img-thumbnail" src="{$item['thumb']}">&nbsp;&nbsp;[ID:{$item['id']}]{$item.title}
                                    <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" onClick="return confirm('确定删除此分类吗?');" href="{:url('article/category_delete',array('id' => $item['id']))}"><span class="fa fa-times"></span></a>
                                    <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" href="{:url('article/category_add',array('parent_id' => $item['id']))}"><span class="fa fa-plus"></span></a>
                                    <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" href="{:url('article/category_edit',array('id' => $item['id']))}"><span class="fa fa-edit edit"></span></a>
                                </div>
                                {if !empty($item['items'])}
                                <ol class="ng-pristine ng-untouched ng-valid ng-scope angular-ui-tree-nodes" id="{$item['id']}">
                                    {foreach $item['items'] as $o}
                                    <li class="ng-scope angular-ui-tree-node">
                                        <div class="angular-ui-tree-handle ng-binding ng-scope">
                                            {if !empty($o['items'])}
                                            <span>
                                                <a class="angular-ui-tree-icon">
                                                    <span class="angular-ui-tree-icon-collapse uncollapsed parent" data-show="1" data-id="{$o['id']}"></span>
                                                </a>
                                            </span>
                                            {/if}
                                            <img width="50" class="img-responsive img-thumbnail" src="{$o['thumb']}">&nbsp;&nbsp;[ID:{$o['id']}]{$o.title}
                                            <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" onClick="return confirm('确定删除此分类吗?');" href="{:url('article/category_delete',array('id' => $o['id']))}"><span class="fa fa-times"></span></a>
                                            <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" href="{:url('article/category_add',array('parent_id' => $o['id']))}"><span class="fa fa-plus"></span></a>
                                            <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" href="{:url('article/category_edit',array('id' => $o['id']))}"><span class="fa fa-edit"></span></a>
                                        </div>
                                        {if !empty($o['items'])}
                                        <ol class="ng-pristine ng-untouched ng-valid ng-scope angular-ui-tree-nodes" id="{$o['id']}">
                                            {foreach $o['items'] as $oo}
                                            <li class="ng-scope angular-ui-tree-node">
                                                <div class="angular-ui-tree-handle ng-binding ng-scope">
                                            <span class="ng-hide">
                                                <a class="angular-ui-tree-icon">
                                                    <span class="angular-ui-tree-icon-collapse uncollapsed"></span>
                                                </a>
                                            </span>
                                                    <img width="50" class="img-responsive img-thumbnail" src="{$oo['thumb']}">&nbsp;&nbsp;[ID:{$oo['id']}]{$oo.title}
                                                    <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" onClick="return confirm('确定删除此分类吗?');" href="{:url('article/category_delete',array('id' => $oo['id']))}"><span class="fa fa-times"></span></a>
                                                    <a class="pull-right angular-ui-tree-icon angular-ui-tree-icon-action" href="{:url('article/category_edit',array('id' => $oo['id']))}"><span class="fa fa-edit"></span></a>
                                                </div>
                                            </li>
                                            {/foreach}
                                        </ol>
                                        {/if}
                                    </li>
                                    {/foreach}
                                </ol>
                                {/if}
                            </li>
                            {/foreach}
                        </ol>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".parent").on('click',function () {
            var id = $(this).data('id');
            var show = $(this).data('show');
            if (show == 1) {
                $("#" + id).hide();
                $(this).removeClass('uncollapsed');
                $(this).addClass('collapsed');
                $(this).data('show',0);
            } else {
                $("#" + id).show();
                $(this).removeClass('collapsed');
                $(this).addClass('uncollapsed');
                $(this).data('show',1);
            }
        });
    })
</script>
{include file="public/_footer" /}